.essay-container {
    padding: 5% 20%;
    font-size: large;
    line-height: 40px;
}

.heading {
    margin-bottom: 25px;
}

@media (max-width: 720px) {
    .essay-container {
        padding: 5% 11%;
    }
    .breadcrumb li {
        font-size: 12px;
    }
    .content-div p {
        font-size: 18px;
        line-height: 35px;
    }
}

.h1btn {}